@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/* Primary */
/* ---------------------------- (main background) --------------------------- */
/* ---------------------------- (card background) --------------------------- */
/* -------------------------------- (accent) -------------------------------- */
/* Neutral */
/* -------------------------- (main heading, stats) ------------------------- */
/* ---------------------------- (main paragraph) ---------------------------- */
/* ----------------------------- (stat headings) ---------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 1440px;
  font-size: 15px;
  background: #090b1a; }

.container {
  background: #1b1938;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  border-radius: 10px 10px 10px 10px;
  margin: 100px; }
  .container .desktop__image {
    border-radius: 0 10px 10px 0;
    opacity: 0.3; }
  .container .mobile__image {
    border-radius: 10px 10px 0 0;
    display: none; }
  .container .main {
    display: flex;
    width: 50%;
    padding: 50px 40px 50px 40px;
    text-align: left;
    flex-direction: column;
    flex-wrap: nowrap; }
    .container .main .main__title {
      font-family: "Inter", sans-serif;
      color: white;
      font-size: 2.5rem; }
      .container .main .main__title .violet {
        color: #aa5cdb; }
    .container .main .main__text {
      width: 70%;
      color: rgba(255, 255, 255, 0.75);
      font-size: 0.9rem;
      line-height: 30px;
      padding-bottom: 30px;
      font-family: "Lexend Deca", sans-serif; }
    .container .main .information__main {
      width: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      text-align: left;
      padding-top: 50px; }
      .container .main .information__main .information .information__number {
        font-family: "Inter", sans-serif;
        color: white;
        padding-bottom: 10px;
        font-weight: 700; }
      .container .main .information__main .information .information__type {
        color: rgba(255, 255, 255, 0.6);
        font-family: "Lexend Deca", sans-serif;
        letter-spacing: 1px;
        font-size: 0.7rem;
        font-weight: 400; }

@media screen and (max-width: 375px) {
  body {
    max-width: 375px; }

  .container {
    width: 90%;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px 10px 10px 10px;
    margin: 100px auto; }
    .container .desktop__image {
      display: none; }
    .container .mobile__image {
      display: block; }
    .container .main {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0px auto;
      padding: 20px; }
      .container .main .main__title {
        font-family: "Inter", sans-serif;
        color: white;
        font-size: 2rem; }
        .container .main .main__title .violet {
          color: #aa5cdb; }
      .container .main .main__text {
        width: 100%;
        color: rgba(255, 255, 255, 0.75);
        font-size: 0.9rem;
        line-height: 30px;
        padding-bottom: 30px;
        font-family: "Lexend Deca", sans-serif; }
      .container .main .information__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
        margin-top: 20px; }
        .container .main .information__main .information {
          padding: 20px 0 20px 0; }
          .container .main .information__main .information .information__number {
            font-family: "Inter", sans-serif;
            color: white;
            font-weight: 700; }
          .container .main .information__main .information .information__type {
            color: rgba(255, 255, 255, 0.6);
            font-family: "Lexend Deca", sans-serif;
            letter-spacing: 1px;
            font-size: 0.7rem;
            font-weight: 400;
            padding-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */
